

.imagem{
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
    margin: 0 auto;
    width: 100px;
}

.titulo{
    display: block;
    margin: 0 auto;
    width: 20%;
    text-align: center;
}

.text{
    margin: 0 auto;
    width: 60%;
    text-align: center;
}

.experience{
    display: flex;
    flex-direction:row;
    width: 100%;
}

.apresenta{
    height: 330px;
    /*border: 1px solid red;*/ 
}

.lista_flex{
    display: flex;
    list-style: none;
}

.lista_flex li{
    padding: 10px;
}