
<button [class]="botao" (onclick)="showUserInfo()">Exibir Informação de Utilizador</button>

<input [value] = "userName" (input)="changeUserName($event)"/>
<input [placeholder]="userName" disabled/>
<br />

<span>
  <button class="btn btn-info" (click)="decrement()"> - </button>
  <span>  {{ count }}  </span>
  <button class="btn btn-info" (click)="increment()"> + </button>
</span>


<div *ngIf="display">

  <div *ngFor="let item of listaTelemoveis">

    <hr />
    <p>Nome: {{ item.nome}}</p>
    <p>Preço: {{ item.preco }}€</p>
    <p>Cor: {{ item.cor }}</p>
    <p>Desconto: {{ item.descontoFinal() }}€ de desconto</p>
    <p>Preço com Desconto: {{ item.precoComDesconto() }}€</p>
    <img [src]="item.source" [height]="imageSizeH" />
    <hr />

  </div>

</div>



